h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 4em;
}

h2 {
	margin-top: 2em;
}

p {
	font-family: 'Quattrocento', serif;
	font-size: 1.2em;
	text-align: justify;
	line-height: 1.2em;
}

.note {
	font-family: 'Quattrocento', serif;
	font-size: 0.7em;
	background-color: gray;
}

.main {
	display: block;
	margin-left: auto;
	margin-right: auto;
/*	width: 50%;
*/	max-width: 630px;
}

.paragraph {
	margin-top: 2em;
}