h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 4em;
}

p {
font-family: 'Quattrocento', serif;
font-size: 1.2em;
text-align: justify;
}



.main {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}